<div class="container bg-light">
        <h2 class="text-primary text-center text-uppercase mt-2">1.General rules</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo sint iure recusandae facere blanditiis fugit, accusamus vero reprehenderit voluptatem eaque sequi aspernatur in veniam animi molestiae architecto eum. Nobis, consequatur.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores earum labore perferendis. Labore dolorem excepturi nemo doloremque repudiandae voluptates fugiat necessitatibus et voluptatem dolorum, voluptate odio pariatur ducimus nisi!</p>
        <h2 class="text-primary text-center text-uppercase mt-2">2. Playing program</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, est voluptate sunt explicabo at vitae inventore adipisci magnam. At excepturi accusamus ipsum assumenda sunt aut facilis? Illum laboriosam ipsa sit!</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium corrupti quo et autem perspiciatis velit illum harum, delectus, quaerat error tempora obcaecati odio voluptate! Accusantium reiciendis consequatur quis dolor expedita.</p>
        <h2 class="text-primary text-center text-uppercase mt-2">3. Playing fields</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, laudantium commodi! Sint molestiae autem qui est quae reiciendis alias repellendus, impedit earum sunt nemo quas quis illo aspernatur at velit?</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati perspiciatis nostrum unde quia excepturi animi consectetur provident dolores voluptate harum pariatur, aspernatur magni quasi doloribus incidunt vel saepe. Dolores, est.</p>
        <h2 class="text-primary text-center text-uppercase mt-2">4. Team list and player uniforms</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Reiciendis ab quae, reprehenderit nisi eos ut vitae! Veniam aut expedita vero reprehenderit quod accusantium rerum distinctio illo, ex, enim ab architecto?</p>
        <h2 class="text-primary text-center text-uppercase mt-2">5. Number of players and substitutions</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure eveniet reprehenderit voluptatibus hic velit ipsum, excepturi, ex aliquam commodi iusto magni laborum distinctio illo quod nemo ea nisi dolorem quia.</p>
        <h2 class="text-primary text-center text-uppercase mt-2">6. Rules of the game</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quasi commodi vitae corrupti, quod maxime hic nesciunt asperiores deserunt ab alias nihil, accusantium quibusdam error magni nam iure ut dolor ad.</p>
        <h2 class="text-primary text-center text-uppercase mt-2">7. Protests</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab aliquam consequuntur perferendis, accusantium voluptate veritatis cupiditate maiores quisquam impedit tenetur animi ullam in, reprehenderit quam iste quaerat, nihil corporis eius?</p>
</div>
