
.jumbotron {
    background-image: url('./../../assets/imgs/jumbo-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -100px;
    opacity: 1;
}


#palmers {
    width: 100%;
    height: auto;
}