<div class="container">
  <div class="poster row">
    <h2 class="col-12 text-center">6V6 Cup</h2>
    <h3 class="col-12 text-center">Sign up for one of the most popular amateur cups</h3>
  </div>
  <div class=" information row mt-2 home-info">
    <div class="col-md-5 col-sm-5">
      <p>Last year "Palmers" FC triumphed with the title after a stunning final game against "Hashtag United" with a 3-2 win.</p>
      <p>252 teams participated in the tournament starting from the qualifications, going through the group stage and played head-to-head to reach the final</p>
    </div>
    <div class="col-md-7 col-sm-7">
      <img id="palmers" src="./../../assets/imgs/palmers.jpg">
    </div>
  </div>
</div>

