<div class="container">
  <div class="jumbotron jumbotron-fluid mb-0">
    <div class="container">
        <h1 class="display-4 text-center">6V6 Cup</h1>
        <p class="lead mt-4 text-center">Sign up for 2019 edition of one of the most popular amateur football cups</p>
    </div>
  </div>
  <div class=" information row home-info">
    <div class="col-md-5 col-sm-5">
      <p>Last year "Palmers" FC triumphed with the title after a stunning final game against "Hashtag United" with a 3-2 win.</p>
      <p>252 teams participated in the tournament starting from the qualifications, going through the group stage and played head-to-head to reach the final</p>
    </div>
    <div class="col-md-7 col-sm-7">
      <img id="palmers" src="./../../assets/imgs/palmers.jpg">
    </div>
  </div>
</div>

