.jumbotron {
    background-image: url('./../../assets/imgs/jumbo-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0px -100px;
    opacity: 1;
}

.information {
    background-color: rgba(200, 200, 200, 0.8);
}

#palmers {
    width: 100%;
    height: auto;
}