<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <h1><a class="navbar-brand text-info">Amateur cup</a></h1>
  <button class="data-toggler d-lg-none d-md-none" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-5 mr-auto">
      <li class="nav-item mr-2"><a class="nav-link" [routerLink]="[ '/']">Rules</a></li>
      <li class="nav-item mr-2"><a class="nav-link" [routerLink]="[ '/']">Teams</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item mr-2"><a class="nav-link btn btn-primary" [routerLink]="[ '/']">Login</a></li>
      <li class="nav-item mr-2"><a class="nav-link btn btn-success" [routerLink]="[ '/']">Register team</a></li>
    </ul>
  </div>
</nav>
