<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <h1><a class="navbar-brand text-info" (click)="navigateHome()">6V6 cup</a></h1>
  <button class="data-toggler d-lg-none d-md-none" data-toggle="collapse" data-target="#navbarMenu">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarMenu">
    <ul class="navbar-nav ml-5 mr-auto">
      <li class="nav-item mr-2"><a class="nav-link" [routerLink]="[ '/home']">Home</a></li>
      <li class="nav-item mr-2"><a class="nav-link" [routerLink]="[ '/rules']">Rules</a></li>
      <li class="nav-item mr-2"><a class="nav-link" [routerLink]="[ '/teams']">Teams</a></li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!loggedIn()" class="nav-item mr-2"><a class="nav-link btn btn-primary" [routerLink]="[ '/login']">Login</a></li>
      <li *ngIf="!loggedIn()" class="nav-item mr-2"><a class="nav-link btn btn-success" [routerLink]="[ '/register']">Register team</a></li>
      <li *ngIf="loggedIn()" class="nav-item mr-2"><a class="nav-link btn btn-danger" (click)="logOut()">Logout</a></li>
    </ul>
  </div>
</nav>
